<launch>
  <arg name="simulation" default="false"/>
  <arg name="manual" default="false"/>
  <arg name="scenario" default="blocks_world"/>

  <arg name="avatar_ids" default="[]"/>
  
  <param name="simulation" type="bool" value="$(arg simulation)"/>
  <param name="manual" type="bool" value="$(arg manual)"/>
    
  <group ns="ownage_bot">
    <!-- Duration before each tracked object has its properties updated -->
    <param name="tracker_latency" type="double" value="0.2" />

    <!-- Avatars are specific objects which represent owners -->
    <rosparam param="avatar_ids" subst_value="true">
    $(arg avatar_ids)</rosparam>
    
    <!-- Load area parameters -->
    <include file="$(find ownage_bot)/launch/area_params.launch"/>

    <!-- Load category parameters -->
    <rosparam param="categories">
      ["block", "mug", "pen", "laptop", "wallet", "charger", "wrapper"]
    </rosparam>

    <!-- Load color parameters -->
    <rosparam param="colors">
        red : [[160, 70, 10], [10, 166, 66]]
        green : [[30, 80, 20], [100, 246, 96]]
        blue : [[80, 120, 70], [130, 216, 146]]
    </rosparam>
        
    <!-- Load scenario parameters -->
    <rosparam command="load" param="blocks_world"
	      file="$(find ownage_bot)/scenarios/blocks_world.yaml" />
    
    <!-- Object tracker node, unused in simulation mode-->
    <node pkg="ownage_bot" type="object_tracker.py"
	  output="screen" name="object_tracker" unless="$(arg simulation)">
    </node>

    <!-- World simulator, provides simulated environment and actions -->
    <node pkg="ownage_bot" type="world_simulator.py"
      	  name="world_simulator" output="screen" if="$(arg simulation)">
      <param name="scenario" type="string" value="$(arg scenario)"/>
      <rosparam param="home_pos">
        [0.0, 0.0, 0.0]
      </rosparam>
    </node>
    
    <!-- Task manager node, unused in manual mode -->
    <node pkg="ownage_bot" type="task_manager.py"
          name="task_manager" output="screen" unless="$(arg manual)">
    </node>

    <!-- Rule manager node, unused in manual mode -->
    <node pkg="ownage_bot" type="rule_manager.py"
          name="rule_manager" output="screen" unless="$(arg manual)">
    </node>
    
    <!-- Dialog manager node, unused in manual mode -->
    <node pkg="ownage_bot" type="dialog_manager.py"
          name="dialog_manager" output="screen" unless="$(arg manual)">
    </node>

    <!-- Text control node, unused in manual mode -->
    <node pkg="ownage_bot" type="command_prompt.py"
          name="command_prompt" output="screen" unless="$(arg manual)"
	  launch-prefix="gnome-terminal --command">
    </node>
  </group>

  <!-- Use real-world action and perception if not in simulation -->
  <group unless="$(arg simulation)">
    <!-- Provides actions on Baxter's arms -->
    <node pkg="ownage_bot" type="action_provider"
      	  name="action_provider" output="screen">
    </node>
    
    <!-- Runs ARuCo and displays camera image -->
    <include file="$(find ownage_bot)/launch/aruco_marker_publisher.launch"/>
  </group>
</launch>

