<launch>
  <arg name="mode" default="by_perm"/>
  <arg name="test_mode" default="rules"/>
  <arg name="online" default="false"/>
  <arg name="n_iters" default="1"/>
  <arg name="disable_inference" default="-1"/>
  <arg name="disable_extrapolate" default="-1"/>
  <arg name="own_mean" default="1.0"/>
  <arg name="own_dev" default="0.0"/>
  <arg name="own_frac" default="1.0"/>
  <arg name="perm_frac" default="1.0"/>
  <arg name="rule_path" default = "$(find ownage_bot)/rulesets/rules.yaml"/>
  <arg name="script_path" default = "$(find ownage_bot)/rulesets/script.yaml"/>
  
  <!-- Rule instructor node-->
  <node pkg="ownage_bot" type="rule_instructor.py" ns="ownage_bot"
	output="screen" name="rule_instructor">
    <!-- Whether to teach by example, rules, or script -->
    <param name="mode" type="string" value="$(arg mode)" />
    <!-- Test learning for 'rules', owner 'inference' or 'extrapolate' -->
    <param name="test_mode" type="string" value="$(arg test_mode)" />
    <!-- Whether to use online instruction or batch instruction -->
    <param name="online" type="bool" value="$(arg online)" />
    <!-- Number of training iterations for system evaluation -->
    <param name="n_iters" type="int" value="$(arg n_iters)" />
    <!-- Whether or not to disable ownership inference, -1 for default -->
    <param name="disable_inference" type="int"
	   value="$(arg disable_inference)" />
    <!-- Whether or not to disable ownership extrapolation, -1 for default -->
    <param name="disable_extrapolate" type="int"
	   value="$(arg disable_extrapolate)" />
    <!-- Average ownership probability for given ownership labels-->
    <param name="own_mean" type="double" value="$(arg own_mean)" />
    <!-- Half-range of ownership probabilities for given ownership labels-->
    <param name="own_dev" type="double" value="$(arg own_dev)" />
    <!-- Fraction of objects for whih owner labels are given-->
    <param name="own_frac" type="double" value="$(arg own_frac)" />
    <!-- Fraction of owner-labeled objects for whih permissions are given-->
    <param name="perm_frac" type="double" value="$(arg perm_frac)" />
    <!-- Rate in Hertz to publish batch instructions -->
    <param name="pub_rate" type="int" value="10" />
    <!-- Rules to be taught -->
    <rosparam command="load" param="rules" file="$(arg rule_path)" />
    <!-- Rules to be taught -->
    <rosparam command="load" param="script" file="$(arg script_path)" />
  </node>

</launch>

